<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Enter a search term</label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Search"/>
</form>

<div th:if="${books.isEmpty()}">
    <span>Книг не найдено</span>
</div>

<div th:if="${!books.isEmpty()}">
    <div th:each="book : ${books}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Книга занята: </span> <span th:text="${book.getOwner().getName()}">Person Name</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>Книга свободна</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>